{
	"db": {
		"servers": [
			{
				"name":"ClientDB",
				"host":"%MYSQL_HOST%",
				"port":3306,
				"user":"root",
				"password":"mypass"
			}
		]
	},
	"memcached": {
		"servers": [
			{
				"host":"%MEMCACHED_HOST%",
				"port":11211
			}
		]
	},
	"clients": [
		{
			"name":"movielens",
			"db":"ClientDB"
		}
	]
}
